[Unit]
Description=Service which runs Node Exporter for Prometheus scraping
 
[Service]
User=node-exporter
ExecStart=/usr/bin/node_exporter
 
[Install]
WantedBy=multi-user.target
